body {
  font-family: sans-serif;
}
#navheader {
  background-color: #56BA89;
}
.content {
  padding: 20px;
}
  .card {
      background: white;
      width: 75%;
      height: auto;
      position: relative;
      margin: auto;
      border-radius: 2px;
      padding: 10px;
    }
