body {
  font-family: sans-serif;
}
#navheader {
  background-color: #56BA89;
}
.content {
  padding: 20px;
}
  .card {
      background: white;
      width: 75%;
      height: auto;
      position: relative;
      margin: auto;
      border-radius: 2px;
      padding: 10px;
    }
  .namecard {
      background: white;
      width: 25%;
      height: auto;
      position: relative;
      margin: auto;
      border-radius: 2px;
      padding: 10px;
      float: right;
      right: 12%;
    }
  .photocard {
      background: white;
      width: 45%;
      height: auto;
      position: relative;
      margin: auto;
      border-radius: 2px;
      padding: 10px;
      float: left;
      left: 12%;
    }
    .scaled {
        max-width: 100%;
    }
