body {
  font-family: sans-serif;
}
#navheader {
  background-color: #56BA89;
}
.content {
  padding: 20px;
}
  .card {
      background: white;
      width: 75%;
      height: 300px;
      position: relative;
      margin: auto;
      border-radius: 2px;
    }

    .card-inner {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 2px;
      padding: 10px;
    }

